html {
    height: 100%;
}
/*
Grid design and styling procedure*/
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 5px;
    display: grid;
    gap: 2px;
    grid-template-columns: 20% 60% 20%;
    grid-template-rows: 10% 5% 75% 10%;
    grid-template-areas: 
        "header header header" 
        "steps_title interactions_title help_title" 
        "steps interactions help"
        "steps button help"
        ;
}

#header {
    grid-area: header;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: lightgoldenrodyellow;
}
/*
The panel that provides more details to the user. */
#help_title{
    grid-area: help_title;
    background: rgb(243, 238, 243);
}
#help {
    grid-area: help;
    overflow: scroll;
    overflow-x: hidden;
}
/*
The steps panel. */
#steps_title{
    grid-area: steps_title;
    background: rgb(243, 238, 243);
}
#steps {
    grid-area: steps;
    background-color: lightgoldenrodyellow;
    overflow: scroll;
    overflow-x: hidden;
}
/*
The panel through which the user provides inputs. */
#interactions_title {
    grid-area: interactions_title;
    background: rgb(243, 238, 243);
}
#interactions {
    grid-area: interactions;
    background-color: lightcyan;
    overflow: scroll;
}
/*
The navigation panel. */
#button{
    grid-area: button;
    background-color: rgb(229, 232, 232);
    overflow: scroll;
}